In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.DataFrame({'Product':['P1','P1','P1','P2','P2','P2','P2'],
                   'Spec':['S1','S2','S2','S3','S3','S4','S4'],
                  'Batch':['B1','B2','B3','B5','B6','B7','B8']})
df

  Product Spec Batch
0      P1   S1    B1
1      P1   S2    B2
2      P1   S2    B3
3      P2   S3    B5
4      P2   S3    B6
5      P2   S4    B7
6      P2   S4    B8

In [48]:
df.groupby(['Product','Spec']).agg({'Batch':'sum'})

             Batch
Product Spec
P1      S1      B1
        S2    B2B3
P2      S3    B5B6
        S4    B7B8

In [47]:
df.groupby?

In [35]:
val = '|'.join(np.unique(['abcd','efg','hijk']))
val

'abcd|efg|hijk'

In [36]:
def comma_sep(x):
    val = ', '.join(np.unique(x))
    print(val)
    return val

In [43]:
rpt = df.groupby(['Product','Spec']).agg({'Batch':[comma_sep,'nunique']})
rpt

B1
B2, B3
B5, B6
B7, B8

                 Batch
             comma_sep nunique
Product Spec
P1      S1          B1       1
        S2      B2, B3       2
P2      S3      B5, B6       2
        S4      B7, B8       2

How to multi index your cols in dataframe

In [39]:
org_df = pd.DataFrame([[1,2],[3,4]],columns=['Sub col1','sub col2'])
org_df

   Sub col1  sub col2
0         1         2
1         3         4

In [40]:
def add_top_col(df,top_col):
    df.columns = pd.MultiIndex.from_product([[top_col],df.columns])
    return df

In [41]:
new_df = add_top_col(org_df,'Main Header')
new_df

  Main Header
     Sub col1 sub col2
0           1        2
1           3        4